<ng-content />
<ng-template #networkTemplate let-network>
  <div class="flex items-center gap-2">
    @if (network?.code == 'mainnet-beta') {
      <div>
        <img src="images/solana.png" class="-mb-1 icon-height" />
      </div>
    }
    <div>{{ network?.name }}</div>
  </div>
</ng-template>

<!-- TODO -->
<p-select [options]="networkService.networks" [(ngModel)]="networkService.selectedNetwork" optionLabel="name" (ngModelChange)="onNetworkChange()">
  <ng-template #selectedItem let-selectedOption>
      <div [ngTemplateOutlet]="networkTemplate" [ngTemplateOutletContext]="{ $implicit: selectedOption }"></div>
  </ng-template>
  <ng-template let-network #item>
    <div [ngTemplateOutlet]="networkTemplate" [ngTemplateOutletContext]="{ $implicit: network }"></div>
  </ng-template>
</p-select>