// nav > .p-button {
//   margin: 0 !important;
// }

.logo-container {
  width: 15rem;
  // background-color: red;
}

@media (max-width: 1600px) {
  .logo-container {
    width: fit-content;
  }
}

@media (max-width: 768px) {
  nav > .p-button {
    justify-content: start;
  }
}