<header class="w-full flex justify-content-center items-center pt-2 pb-2" style="background-color: transparent;">
  <div class="flex justify-content-between align-items-center gap-4" style="width: 70%; min-width: 1200px; max-width: 1280px;"> <!-- TODO responsive --> 
    <!-- <app-network-switch></app-network-switch> -->
    <app-logo />
    <nav class="flex justify-content-between gap-3">
      <a routerLink="/solana/create-token" class="p-button p-button-text no-underline">
        <span class="material-symbols-outlined">add_circle</span>
        Create Token
      </a>
  
      <a routerLink="/solana/trending-coins" class="p-button p-button-text no-underline">
        <span class="material-symbols-outlined">whatshot</span>
        Trending Coins
      </a>
  
      <a href="https://raydium.io/portfolio" target="_blank" rel="noopener noreferrer" class="p-button p-button-text no-underline">
        <span class="material-symbols-outlined">water_drop</span>
        Manage Liquidity
      </a>

      <a routerLink="/trending-tokens" class="p-button p-button-text no-underline">
        <span class="material-symbols-outlined">money_bag</span>
        Affiliate Program
      </a>
    </nav>
    <app-wallet></app-wallet>
    <!-- <div></div> -->
  </div>
</header>