<footer class="mb-4">
  <p-card>
    <div class="grid">
      <div class="col-12 md:col-6">
        @if (creationYear === year) {
          <span>&copy; {{ year }} {{ serviceName }}. All rights reserved.</span>
        } @else {
          <span>&copy; {{ creationYear }} – {{ year }} {{ serviceName }}. All rights reserved.</span>
        }
      </div>
      
      <div class="col-12 md:col-6 flex md:justify-content-end">
        <div>
          <app-text-link link="/affiliate">Affiliate</app-text-link>
           | 
          <app-text-link link="/privacy-policy">Privacy Policy</app-text-link>
           | 
          <app-text-link link="/terms-of-use">Terms of Use</app-text-link>
        </div>
      </div>

      <div class="col-12 flex md:justify-content-end">
        <span>support&commat;{{serviceHost}}</span>
      </div>
    </div>
  </p-card>
</footer>