<p-toast />

<!-- <h1 class="text-center mb-4">Affiliate Program</h1> -->
<app-tool-header>
  <ng-template #icon>
    <span class="material-symbols-outlined text-6xl text-primary">money_bag</span>
  </ng-template>
  <ng-template #header>
    Affiliate Program
  </ng-template>
</app-tool-header>

<p-card>
  <p>1. Create your own referral link</p>
  <p>2. Invite other people using the link</p>
  <p>3. Earn <b>{{ pricesService.prices().solanaAffiliateSharePercents.cost }}%</b> of all service fees paid by your referrals!</p>

  <p-divider></p-divider>
  
  <app-solana-wallet-connected-guard>
    <p>All your earnings will be automatically sent in SOL to {{ walletService.selectedWallet?.publicKey }} immediately after each payment made by your referrals</p>
    @if (referralId !== '') {
      <app-copy-string [value]="serviceWebsite + '/?r=' + referralId" />
    } @else {
      <button class="w-full font-medium mb-2" pButton [loading]="loading" (click)="createLink()">
        <span class="material-symbols-outlined">
          add_link
          </span>
        Create Link
      </button>
    }
  </app-solana-wallet-connected-guard>

  <div class="mt-2"></div>

  <small class="text-color-secondary">
    Conditions may be changed anytime without notification.
    Service fees do not include blockchain fees (e.g. if a referral creates a token for 0.1 SOL and the blockchain fees are 0.01 SOL the affiliate will get {{ pricesService.prices().solanaAffiliateSharePercents.cost }}% from 0.09 SOL, not from 0.1 SOL.
    Referral data is stored locally in the user’s browser and can be deleted at any time (e.g., by clearing the website cache), so clicking a referral link does not guarantee earnings for the affiliate.
    If you lose access to any of your wallets, all assets stored in that wallet will be permanently lost and cannot be recovered.
  </small>

</p-card>