<div class="w-full flex flex-column gap-3">
  <button pButton class="w-full" severity="secondary" title="Token Address" (click)="copyAddress()">
    @if(addressCopiedState){
      <span class="material-symbols-outlined">check</span>
    } @else {
      <span class="material-symbols-outlined">content_copy</span>
    }
    <span>
      {{ address().slice(0, 7) }}...{{ address().slice(-7) }}
    </span>
  </button>

  @if(isTestnet === false){
    <a href="https://raydium.io/liquidity/create-pool/" target="_blank" rel="noopener noreferrer" class="w-full p-button p-button-secondary">
      <span class="material-symbols-outlined">water_drop</span>
      <span>
        Create Liquidity Pool
      </span>
    </a>
  }

  <app-solana-explorer-link explorer="explorer" type="token" [address]="address()" [network]="tokenNetwork" />
  <app-solana-explorer-link explorer="solscan" type="token" [address]="address()" [network]="tokenNetwork" />
</div>