<ng-template #continueButton let-page="page" let-canContinue="canContinue" let-activateCallback="activateCallback">
  <div class="w-full flex px-2 justify-content-between align-items-center">
    @if(page > 1){
      <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" iconPos="left" (onClick)="activateCallback(page - 1)" />
    }
    @else {
      <div style="visibility: hidden;">
        <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" iconPos="left" [disabled]="true" />
      </div>
    }
    <span>
      <span class="hidden md:inline">Total fees:</span>
      <span class="font-semibold line-through text-color-secondary ml-1">{{ (totalCostWithoutDiscounts() * 3).toFixed(2) }} SOL</span>
      <span class="font-semibold ml-1">{{ totalCost().toFixed(2) }} SOL</span>
    </span>
    @if(page < 3){
      <p-button label="Next" [disabled]="!canContinue" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(page + 1)" />
    } @else {
      <p-button [disabled]="!canContinue" (onClick)="createToken()" >
        <span class="font-semibold">Create ${{infoForm.get('symbol')?.value?.toLocaleUpperCase()}}</span>
        <span class="material-symbols-outlined">open_in_new</span>
      </p-button>
    }
  </div>
</ng-template>


<div style="max-width: 900px;">
  <p-toast/>
  <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
    <p-step-list>
      <p-step [value]="1">Logo & Info</p-step>
      <p-step [value]="2">Socials</p-step>
      <p-step [value]="3">Settings</p-step>
    </p-step-list>
    <p-step-panels>
      <p-card>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="page">
              <form
              [formGroup]="infoForm"
                class="p-2 pt-0 font-medium"
              >
              <span class="text-3xl text-center font-semibold">Provide basic Information</span>
                <div class="formgrid grid mt-3">
                  <div class="field col-12 md:col-6">
                    <label for="tokenname">Token Name (max 30) <app-required/></label>
                    <input id="tokenname" name="Token Name" placeholder="Solar Token" type="text" pInputText formControlName="name" required [minlength]="1" [maxlength]="30">
                  </div>
                  <div class="field col-12 md:col-6">
                    <label for="symbol">Symbol (max 10) <app-required/></label>
                    <input id="symbol" name="Symbol" placeholder="SOLR" style="text-transform: uppercase" type="text" pInputText formControlName="symbol" required [minlength]="1" [maxlength]="10">
                  </div>
                  <div class="field col-12 md:col-6">
                    <label for="decimals">Decimals <app-required/></label>
                    <p-inputnumber id="decimals" name="Decimals" formControlName="decimals" required [min]="0" [max]="9" (onInput)="validateSupplyWithDecimals()"/>
                    <small id="symbol-help">Most tokens use 6 decimals</small>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label for="supply">Initial Supply <app-required/></label>
                    <p-inputgroup>
                      <p-inputnumber id="supply" name="Initial Supply" formControlName="supply" required [min]="1" [maxlength]="MAX_SUPPLY_WITH_DECIMALS_LENGTH" [max]="MAX_SUPPLY_WITH_DECIMALS_NUMBER"/>
                      @if(infoForm.get('symbol')?.value){
                        <p-inputgroup-addon>
                          {{ infoForm.get('symbol')?.value?.toLocaleUpperCase() || 'SOLR' }}
                        </p-inputgroup-addon>
                      }
                    </p-inputgroup>
                    <small id="symbol-help">Most tokens use 1 billion</small>
                  </div>
                  <div class="field col-12">
                    <div class="w-full flex flex-row justify-content-between mb-1">
                      <label for="logo-image">Logo <app-required/></label>
                      <div class="flex flex-row items-center ">
                        <p-toggleswitch formControlName="useImageUrl"></p-toggleswitch>
                        <span class="ml-2" style="font-size: .9rem; margin-top: 1px;">Enter logo URL</span>
                      </div>
                    </div>
                    @if(infoForm.get('useImageUrl')?.value){
                      <input type="text" placeholder="Enter the image URL" pInputText formControlName="imageUrl" [maxlength]="1000">
                    } @else {
                      <app-file-selector id="logo-image" [(fileSelected)]="imageFile"></app-file-selector>
                    }
                  </div>
                  <div class="field col-12">
                    <label for="description">Description</label>
                    <textarea id="description" pTextarea [autoResize]="true" [maxLength]="1000" formControlName="description" placeholder="Provide a short and catchy description of your token" rows="5"></textarea>
                  </div>
                </div>
              </form>

              <div [ngTemplateOutlet]="continueButton" [ngTemplateOutletContext]="{
                page: 1,
                canContinue: infoFormValid && (
                  infoForm.get('useImageUrl')?.value
                  ? (infoForm.get('imageUrl')?.value?.length || 0) > 0
                  : imageFile !== null
                ),
                activateCallback
                }"></div>
            </div>
          </ng-template>
        </p-step-panel>
    
        <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="page">
                <form
                [formGroup]="socialsForm"
                  class="p-2 pt-0 font-medium"
                >
                  <span class="text-3xl text-center font-semibold">Connect token Socials</span>
                  <div class="formgrid grid mt-3">
                    <ng-container>
                      <!-- FIELD -->
                      <div class="field col-12 md:col-6">
                        <label for="website-link" class="flex items-center">
                          <div class="-mb-1" style="margin-top: 2px;">
                            <span style="font-size: 1.3rem;" class="material-symbols-outlined">language</span>
                            <!-- <i class="bi bi-globe"></i> -->
                          </div>
                          <span class="ml-2">Website</span>
                        </label>
                        <input id="website-link" name="Website" placeholder="https://..." type="text" pInputText formControlName="website" [maxlength]="1000">
                      </div>
                      <!-- FIELD -->
                      <div class="field col-12 md:col-6">
                        <label for="twitter" class="flex items-center">
                          <div>
                            <i class="bi bi-twitter"></i>
                          </div>
                          <span class="ml-2">Twitter</span>
                        </label>
                        <input id="twitter" name="Twitter" placeholder="https://twitter.com/..." type="text" pInputText formControlName="twitter" [maxlength]="1000">
                      </div>
                      <!-- FIELD -->
                      <div class="field col-12 md:col-6">
                        <label for="telegram" class="flex items-center">
                          <div>
                            <i class="bi bi-telegram"></i>
                          </div>
                          <span class="ml-2">Telegram</span>
                        </label>
                        <input id="telegram" name="Telegram" placeholder="https://t.me/..." type="text" pInputText formControlName="telegram" [maxlength]="1000">
                      </div>
                      <!-- FIELD -->
                      <div class="field col-12 md:col-6">
                        <label for="discord" class="flex items-center">
                          <div>
                            <i class="bi bi-discord"></i>
                          </div>
                          <span class="ml-2">Discord</span>
                        </label>
                        <input id="discord" name="Discord" placeholder="https://discord.gg/..." type="text" pInputText formControlName="discord" [maxlength]="1000">
                      </div>
                      @if(socials_extended){
                        <!-- FIELD -->
                        <div class="field col-12 md:col-6">
                          <label for="youtube" class="flex items-center">
                            <div>
                              <i class="bi bi-youtube"></i>
                            </div>
                            <span class="ml-2">Youtube</span>
                          </label>
                          <input id="youtube" name="Youtube" placeholder="https://youtube.com/..." type="text" pInputText formControlName="youtube" [maxlength]="1000">
                        </div>
                        <!-- FIELD -->
                        <div class="field col-12 md:col-6">
                          <label for="medium" class="flex items-center">
                            <div>
                              <i class="bi bi-medium"></i>
                            </div>
                            <span class="ml-2">Medium</span>
                          </label>
                          <input id="medium" name="Medium" placeholder="https://medium.com/..." type="text" pInputText formControlName="medium" [maxlength]="1000">
                        </div>
                        <!-- FIELD -->
                        <div class="field col-12 md:col-6">
                          <label for="github" class="flex items-center">
                            <div>
                              <i class="bi bi-github"></i>
                            </div>
                            <span class="ml-2">Github</span>
                          </label>
                          <input id="github" name="Github" placeholder="https://github.com/..." type="text" pInputText formControlName="github" [maxlength]="1000">
                        </div>
                        <!-- FIELD -->
                        <div class="field col-12 md:col-6">
                          <label for="instagram" class="flex items-center">
                            <div>
                              <i class="bi bi-instagram"></i>
                            </div>
                            <span class="ml-2">Instagram</span>
                          </label>
                          <input id="instagram" name="Instagram" placeholder="https://instagram.com/..." type="text" pInputText formControlName="instagram" [maxlength]="1000">
                        </div>
                        <!-- FIELD -->
                        <div class="field col-12 md:col-6">
                          <label for="reddit" class="flex items-center">
                            <div>
                              <i class="bi bi-reddit"></i>
                            </div>
                            <span class="ml-2">Reddit</span>
                          </label>
                          <input id="reddit" name="Reddit" placeholder="https://reddit.com/..." type="text" pInputText formControlName="reddit" [maxlength]="1000">
                        </div>
                        <!-- FIELD -->
                        <div class="field col-12 md:col-6">
                          <label for="facebook" class="flex items-center">
                            <div>
                              <i class="bi bi-facebook"></i>
                            </div>
                            <span class="ml-2">Facebook</span>
                          </label>
                          <input id="facebook" name="Facebook" placeholder="https://facebook.com/..." type="text" pInputText formControlName="facebook" [maxlength]="1000">
                        </div>
                      }
                      <p-button class="ml-2 -mt-2 mb-2" variant="text" size="small" (onClick)="socials_extended = !socials_extended">
                        @if(socials_extended){
                          Show less
                          <span class="material-symbols-outlined">keyboard_arrow_up</span>
                        } @else {
                          Show more
                          <span class="material-symbols-outlined">keyboard_arrow_down</span>
                        }
                      </p-button>
                    </ng-container>
  
                    <div class="field col-12">
                      <span class="text-xl">Tags</span><br>
                      <span class="text-sm text-color-secondary">You can add up to 5 tags that are most associated with your project</span>
                      <input
                      class="w-full mt-1" pInputText id="tags-input" name="Tags input field" placeholder="Start typing... (e.g. NFT, Meme, Airdrop)" [maxLength]="31"
                      [(ngModel)]="tagsInput"
                      [ngModelOptions]="{standalone:true}"
                      (keypress)="onTagInputKeyPress($event)"
                      >
                      <div class="mt-2 flex items-center gap-2 flex-wrap">
                        @for (tag of socialsForm.get('tags')?.value; track tag) {
                          <p-chip [label]="tag" [removable]="true" (onRemove)="removeTag(tag)" />
                        }
                      </div>
                    </div>
  
                    <div class="field col-12">
                      <app-add-on [(added)]="addOns['customCreatorInfo'].added" [isFree]="addOns['customCreatorInfo'].isFree">
                        <div title>Custom Creator Info</div>
                        <div description>Change information about token creator in token metadata. By default it's {{ DEFAULT_CREATOR_NAME }}</div>
  
                        <div class="w-full formgrid grid" [formGroup]="creatorInfoForm">
                          <div class="field col-12 md:col-6">
                            <label for="creator-name">Creator Name</label>
                            <input id="creator-name" name="Creator Name" [placeholder]="DEFAULT_CREATOR_NAME" type="text" pInputText formControlName="name" required [maxlength]="100">
                          </div>
                          <div class="field col-12 md:col-6">
                            <label for="creator-website">Creator Website</label>
                            <input id="creator-website" name="Creator Website" [placeholder]="DEFAULT_CREATOR_WEBSITE" type="text" pInputText formControlName="website" required [maxlength]="1000">
                          </div>
                          <div class="-my-2 field col-12 flex flex-row">
                            <p-checkbox formControlName="remove" value="Remove creator data" inputId="removeCreatorData" (onChange)="onRemoveCreatorDataChange($event)" />
                            <label for="removeCreatorData" class="ml-2">Remove creator data</label>
                          </div>
                        </div>
                      </app-add-on>
                    </div>
                  </div>
                </form>
                <div [ngTemplateOutlet]="continueButton" [ngTemplateOutletContext]="{
                  page: 2,
                  canContinue: socialsFormValid,
                  activateCallback
                  }"></div>
              </div>
            </ng-template>
        </p-step-panel>
    
        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="page">
              <form
              [formGroup]="settingsForm"
                class="p-2 pt-0 font-medium"
              >
              <span class="text-3xl text-center font-semibold">Additional Settings</span>
                <div class="formgrid grid mt-3">
                  <div class="field col-12 mb-4">
                    <app-add-on [(added)]="addOns['customAddress'].added" [isFree]="addOns['customAddress'].isFree" tag="New">
                      <div title>Custom Token Address</div>
                      <div description>Personalize your token contract address by customizing the beginning or end</div>

                      <div class="w-full formgrid grid">
                        <div class="field col-12 md:col-6">
                          <label for="address-prefix">Prefix (max {{ MAX_CUSTOM_ADDRESS_PREFIX_LENGTH }})</label>
                          <input id="address-prefix" name="Address Prefix" placeholder="PUMP..." type="text" pInputText formControlName="customAddressBeginning" [maxlength]="MAX_CUSTOM_ADDRESS_PREFIX_LENGTH" (input)="onCustomAddressInput(true)">
                        </div>
                        <div class="field col-12 md:col-6">
                          <label for="address-suffix">Suffix (max {{ MAX_CUSTOM_ADDRESS_PREFIX_LENGTH }})</label>
                          <input id="address-suffix" name="Address Suffix" placeholder="...PUMP" type="text" pInputText formControlName="customAddressEnd" [maxlength]="MAX_CUSTOM_ADDRESS_PREFIX_LENGTH" (input)="onCustomAddressInput(false)">
                        </div>
                        <div class="-mt-2 field col-12 flex flex-row">
                          <p-checkbox formControlName="customAddressCaseSensitive" value="Case-sensitive" inputId="customAddressCaseSensitive" />
                          <label for="customAddressCaseSensitive" class="ml-2">Case-sensitive (will increase search time significantly)</label>
                        </div>
                        <div class="-mt-3 field col-12 flex flex-row flex-wrap align-items-center justify-content-between mb-0">
                          <div class="-ml-2 col-12 lg:col-9 flex flex-row align-items-center">
                            <span class="hidden md:inline">Current Address:</span>
                            <div class="col-12 md:11 lg:col-9 ml-2 border-1 border-300 p-1 pr-2 border-round-md text-center">
                              @if (mintSuffix === '') {
                                <span class="font-semibold">{{ mintPublicKey.slice(0, MAX_CUSTOM_ADDRESS_PREFIX_LENGTH) }}</span>
                                <span class="text-color-secondary">{{ mintPublicKey.slice(MAX_CUSTOM_ADDRESS_PREFIX_LENGTH) }}</span>
                              }
                              @else if(mintPrefix === ''){
                                <span class="text-color-secondary">{{ mintPublicKey.slice(0, mintPublicKey.length - MAX_CUSTOM_ADDRESS_PREFIX_LENGTH) }}</span>
                                <span class="font-semibold">{{ mintPublicKey.slice(mintPublicKey.length - MAX_CUSTOM_ADDRESS_PREFIX_LENGTH) }}</span>
                              }
                              @else {
                                <span class="font-semibold">{{ mintPublicKey.slice(0, mintPrefix.length) }}</span>
                                <span class="text-color-secondary">{{ mintPublicKey.slice(mintPrefix.length, mintPublicKey.length - mintSuffix.length) }}</span>
                                <span class="font-semibold">{{ mintPublicKey.slice(mintPublicKey.length - mintSuffix.length) }}</span>
                              }
                            </div>
                          </div>
                          @if(addressGenerationInProgress){
                            <p-button variant="outlined" severity="contrast" (onClick)="terminateAddressGeneration()">
                              <span>Stop {{ addressGenerationTimeSpent }}</span>
                              <i class="pi pi-spinner pi-spin ml-1"></i>
                            </p-button>
                          } @else {
                            <p-button label="Regenerate" variant="outlined" icon="pi pi-sync" severity="contrast" [loading]="addressGenerationInProgress" (onClick)="regenerateAddress()" />
                          }
                        </div>
                      </div>
                    </app-add-on>
                  </div>

                  <div class="field col-12">
                    <!-- TODO: generate wallet addresses -->
                    <app-add-on [(added)]="addOns['multiWalletDistribution'].added" [isFree]="addOns['multiWalletDistribution'].isFree" tag="Advanced" tagSeverity="info">
                      <div title>Multi-Wallet Supply Distribution</div>
                      <div description>Distribute the supply of your token across different wallets within the creation (max 10 wallets).<br><span class="font-semibold">DEX scanners will mark your coin as safe</span></div>

                      <div formArrayName="supplyDistribution">
                        @for (wallet of supplyDistributions.controls; track $index + '&&' + wallet.get('address')!.value; let i = $index) {
                          <div class="formgrid grid" [formGroupName]="i">
                            <div class="field col-8">
                              <p-inputgroup>
                                <p-inputgroup-addon>
                                  <span class="px-2">Address:</span>
                                </p-inputgroup-addon>
                                <input class="w-full" pInputText formControlName="address" placeholder="Paste address here">
                              </p-inputgroup>
                            </div>
                            
                            <div class="field col-4 flex align-items-center gap-3">
                              <p-inputgroup>
                                <input pInputText placeholder="Share in %" formControlName="share">
                                <p-inputgroup-addon>
                                  %
                                </p-inputgroup-addon>
                              </p-inputgroup>
                              <p-button [disabled]="i === 0" icon="pi pi-trash" severity="danger" (onClick)="removeDistribution(i)" />
                            </div>
                          </div>
                        }
                      </div>
                      <app-error [showIf]="supplyDistributions.errors ? supplyDistributions.errors['supplyDistributionPercentsFailure'] : false">Shares must sum up to 100%</app-error>
                      <app-error [showIf]="supplyDistributions.errors ? supplyDistributions.errors['dublicateWalletAddress'] : false">Duplicate addresses found</app-error>
                      <button
                      class="w-full p-button-text" pButton icon="pi pi-plus" type="button" label="Add Wallet"
                      (click)="addDistribution()"
                      [disabled]="supplyDistributions.controls.length === MAX_WALLETS_SUPPLY_DISTRIBUTION"></button>
                    </app-add-on>
                  </div>

                  <p-divider class="mt-1"></p-divider>

                  <ng-container>
                    <div class="field col-12">
                      <span class="text-xl">Authorities</span><br>
                      <span class="text-sm text-color-secondary">Solana Tokens have 3 authorities: Freeze Authority, Mint Authority, and Update Authority.<br>Revoke them to attract more investors</span>
                    </div>
                    <!-- FREEZE -->
                    <div class="field col-12 flex">
                      <div class="pr-2"><i class="bi bi-snow text-3xl" ></i></div>
                      <app-add-on class="flex-grow-1" [(added)]="addOns['freezeAuthority'].added" [isFree]="addOns['freezeAuthority'].isFree"
                      formName="freezeAuthority"
                      >
                        <div title>Revoke Freeze</div>
                        <div description>Revoking Freeze authority will prevent anyone from freezing holders' accounts in the future</div>
  
                        <div>
                          <span class="text-sm">If you want to transfer the Freeze Authority, paste another Solana address below:</span>
                          <input class="w-full mt-1" name="Transfer Freeze Authority" placeholder="Paste address here" type="text" pInputText pSize="small" formControlName="freezeAuthority" [maxlength]="50">
                        </div>
                      </app-add-on>
                    </div>
                    <!-- MINT -->
                    <div class="field col-12 flex">
                      <div class="pr-2"><i class="bi bi-boxes text-3xl" ></i></div>
                      <app-add-on class="flex-grow-1" [(added)]="addOns['mintAuthority'].added" [isFree]="addOns['mintAuthority'].isFree"
                      formName="mintAuthority">
                        <div title>Revoke Mint</div>
                        <div description>Revoking Mint authority shows that the supply is fixed and cannot grow </div>
  
                        <div>
                          <span class="text-sm">If you want to transfer the Mint Authority, paste another Solana address below:</span>
                          <input class="w-full mt-1" name="Transfer Mint Authority" placeholder="Paste address here" type="text" pInputText pSize="small" formControlName="mintAuthority" [maxlength]="50">
                        </div>
                      </app-add-on>
                    </div>
                    <!-- UPDATE -->
                    <div class="field col-12 flex">
                      <div style="padding-right: 0.8rem;"><i class="bi bi-pen text-2xl" ></i></div>
                      <app-add-on class="flex-grow-1" [(added)]="addOns['updateAuthority'].added" [isFree]="addOns['updateAuthority'].isFree" tag="Or use PUMP.FUN Authority" tagSeverity="success"
                      formName="updateAuthority">
                        <div title>Revoke Update</div>
                        <div description>Revoking Update authority means token metadata cannot be updated by anyone </div>
                      
                        <div>
                          <span class="text-sm">If you want to transfer the Update Authority, paste another Solana address below:</span>
                          <input class="w-full mt-1" name="Transfer Update Authority" placeholder="Paste address here" type="text" pInputText pSize="small" formControlName="updateAuthority" [maxlength]="50">
                        </div>
                        <p-button variant="text" size="small" (onClick)="pastePumpFunUpdateAddress()">Paste PUMP.FUN Update Authority address</p-button>

                        <app-alert-banner>
                          If you transfer the Update Authority to Pump.Fun, token metadata will become immutable. That means Pump.Fun address will be displayed in the metadata, but nobody will be able to change it, just like if your token was created on Pump.Fun
                        </app-alert-banner>
                      </app-add-on>
                    </div>
                  </ng-container>
                </div>
              </form>

              <div [ngTemplateOutlet]="continueButton" [ngTemplateOutletContext]="{
                page: 3,
                canContinue: settingsFormValid,
                activateCallback
                }"></div>
            </div>
          </ng-template>
        </p-step-panel>
      </p-card>
  </p-step-panels>
  </p-stepper>
</div>