<span>Select the preferrable Solana Token:</span>
<p-select
  [(ngModel)]="token"
  class="w-full mt-2"
  [options]="userTokens"
  optionLabel="name"
  [placeholder]="selectPlaceholder()"
  [loading]="isFetchingInProgress()"
  fluid
  [disabled]="walletService.selectedWalletSignal() === null"
  [filter]="userTokens.length > 5"
  filterPlaceholder="Search by name or address"
  [filterFields]="['name', 'symbol', 'address']"
>
  <ng-template #selectedItem let-selectedOption>
    @if (selectedOption) {
      <div class="flex items-center gap-2">
        <!-- Image -->
        <img [src]="selectedOption?.metadata?.imageUrl || 'images/no-image-placeholder.svg'" class="border-round" style="width: 25px; height: 25px;">
        <!-- Name -->
        <div>{{ selectedOption.name }}</div>
      </div>
    }
  </ng-template>
  <ng-template #item let-token>
    <div class="flex items-center gap-2">
      <!-- Image -->
      <img [src]="token?.metadata?.imageUrl || 'images/no-image-placeholder.svg'" class="border-round" style="width: 25px; height: 25px;">
      <!-- Name -->
      <div>{{ token.name }}</div>
    </div>
  </ng-template>
</p-select>