<div>
  <app-tool-header>
    <ng-template #icon>
      <span class="material-symbols-outlined text-6xl text-primary">add_circle</span>
    </ng-template>
    <ng-template #header>
      Create a Token on Solana
    </ng-template>
    <ng-template #description>
      Easily create and control your Solana SPL tokens without coding!
      Сustomize metadata, token address, logo and supply distribution.
      Revoke or transfer authorities. Try it out for free on Solana Devnet
    </ng-template>
  </app-tool-header>
  <div class="w-full">
    @if(showForm){
      <app-create-token-form (onReset)="resetForm()" ></app-create-token-form>
    }
  </div>
  <div class="w-full -mt-2">
    <app-faq [data]="faqList" />
  </div>
</div>