<div class="grid mx-auto" style="width: 100%; max-width: 35rem;">
  @for (tool of tools(); track $index) {
    <div class="col-12 md:col-6">
      @if (tool.url.startsWith('http')) {
        <a class="w-full" rel="noopener noreferrer" pButton severity="secondary"
          [href]="tool.url"
          target="_blank"
          (click)="scrollToContentIfOnTheSamePage(tool.url)"
        >
          @if (tool.isIconMD) {
            <span class="material-symbols-outlined text-primary">{{ tool.icon }}</span>
          } @else {
            <i [class]="tool.icon"></i>
          }
          <span class="font-medium">{{ tool.title }}</span>
        </a>
      } @else {
        <a class="w-full" rel="noopener noreferrer" pButton severity="secondary"
          [routerLink]="tool.url"
          (click)="scrollToContentIfOnTheSamePage(tool.url)"
        >
          @if (tool.isIconMD) {
            <span class="material-symbols-outlined text-primary">{{ tool.icon }}</span>
          } @else {
            <i [class]="tool.icon"></i>
          }
          <span class="font-medium">{{ tool.title }}</span>
        </a>
      }
    </div>
  }
</div>
<div id="content-start"></div>