<!-- <ng-template #detectedWallet let-wallet="wallet" let-callback="callback">
  
</ng-template> -->
<p-toast />

<p-dialog header="Connect your Wallet" [modal]="true" [draggable]="false" [(visible)]="dialogOpened" [style]="{ width: '25rem' }">
  @if(walletService.getAvailableWalletes().length > 0){
    <span class="block mb-4">Select the preferrable wallet on Solana:</span>
  }
  <div class="w-full flex flex-column gap-3">
    @for (wallet of walletService.getAvailableWalletes(); track wallet) {
      <button pButton class="w-full" severity="secondary" (click)="connect(wallet.name)">
        <div class="w-full grid -mb-2">
          <div class="col-8">
            <div class="flex flex-row items-center gap-2">
              <div class="wallet-icon-container">
                <img [src]="wallet.icon" class="wallet-icon">
              </div>
              <span class="font-medium">{{ wallet.name }}</span>
            </div>
          </div>
          <div class="col-4">
            <span class="text-color-secondary">Detected</span>
          </div>
        </div>
      </button>
    } @empty {
      <p class="text-center">No wallets detected</p>
      <a pButton class="w-full" href="https://phantom.app/" rel="noopener noreferrer">
        <span class="font-medium">Download Phantom</span>
        <span class="material-symbols-outlined">open_in_new</span>
      </a>
    }
  </div>
</p-dialog>


@if (currentSelectedWallet == null) {
  <p-button label="Connect Wallet" (onClick)="dialogOpened = true"></p-button>
}
@else {
  <button pButton (click)="op.toggle($event)" class="px-3">
    <div class="wallet-icon-container">
      <img [src]="currentSelectedWallet.icon" class="wallet-icon">
    </div>
    <span class="font-medium white-space-nowrap">
      {{ currentSelectedWallet.publicKey?.toBase58()?.slice(0, 4) }}..{{ currentSelectedWallet.publicKey?.toBase58()?.slice(-4) }}
    </span>
  </button>
  <p-popover #op [style]="{ width: '15rem' }">
    <div class="flex flex-column gap-2">
      <button pButton class="w-full" severity="secondary" (click)="copyAddress()">
        <!-- <span class="material-symbols-outlined">content_copy</span> -->
        {{ addressCopiedState ? 'Copied!' : 'Copy addreess' }}
      </button>
      <button pButton class="w-full" severity="secondary" (click)="dialogOpened = true">
        <!-- <span class="material-symbols-outlined">swap_horiz</span> -->
        Change wallet
      </button>
      <button pButton class="w-full" severity="secondary" (click)="disconnect()">
        <!-- <span class="material-symbols-outlined">power_settings_new</span> -->
        Disconnect
      </button>
    </div>
  </p-popover>
}