<!-- <ng-template #detectedWallet let-wallet="wallet" let-callback="callback">
  
</ng-template> -->

<app-wallet-connection-popup [(showIf)]="dialogOpened" />

@if (currentSelectedWallet == null) {
  <!-- <p-button label="Connect Wallet" (onClick)="dialogOpened = true"></p-button> -->
  <p-button  (onClick)="dialogOpened = true">
    <span class="material-symbols-outlined">
      account_balance_wallet
      </span>
      <span class="font-medium">
        Connect Wallet
      </span>
  </p-button>
}
@else {
  <button pButton (click)="op.toggle($event)" class="px-3">
    <div class="wallet-icon-container">
      <img [src]="currentSelectedWallet.icon" class="wallet-icon">
    </div>
    <span class="font-medium white-space-nowrap">
      {{ currentSelectedWallet.publicKey?.toBase58()?.slice(0, 4) }}..{{ currentSelectedWallet.publicKey?.toBase58()?.slice(-4) }}
    </span>
  </button>
  <p-popover #op [style]="{ width: '15rem' }">
    <div class="flex flex-column gap-2">
      <button pButton class="w-full" severity="secondary" (click)="copyAddress()">
        <!-- <span class="material-symbols-outlined">content_copy</span> -->
        {{ addressCopiedState ? 'Copied!' : 'Copy addreess' }}
      </button>
      <button pButton class="w-full" severity="secondary" (click)="dialogOpened = true">
        <!-- <span class="material-symbols-outlined">swap_horiz</span> -->
        Change wallet
      </button>
      <button pButton class="w-full" severity="secondary" (click)="disconnect()">
        <!-- <span class="material-symbols-outlined">power_settings_new</span> -->
        Disconnect
      </button>
    </div>
  </p-popover>
}