<div>
  <app-tool-header>
    <ng-template #icon>
      <span class="material-symbols-outlined text-6xl text-primary">whatshot</span>
    </ng-template>
    <ng-template #header>
      Copy Trending Coins
    </ng-template>
    <ng-template #description>
      <span class="font-bold">Copy trending memecoins on Pump Fun</span>
      and launch them on Raydium before they graduate! Your Token will be the exact copy of a selected memecoin
      <span class="font-bold">including metadata, creators and Pump Fun authority</span>
    </ng-template>
  </app-tool-header>


  <div class="w-full">
    <p-card>
      <div class="flex items-center justify-content-between">
        <span class="font-medium">Trending coins with the highest Engagement and Market Caps 📈</span>
        <div class="hidden md:flex md:items-center">
          <p-toggleswitch [(ngModel)]="isAutoUpdateOn" />
          <span class="ml-2">Auto-Update {{ isAutoUpdateOn ? 'On' : 'Off' }}</span>
        </div>
      </div>
      <div>
        <span class="text-color-secondary">
          The fee for creating a trending coin is
          <span class="font-semibold">{{ creationCost.cost }} SOL</span>
        </span>
      </div>
      <div class="flex items-center md:hidden mt-1">
        <p-toggleswitch [(ngModel)]="isAutoUpdateOn" />
        <span class="ml-2">Auto-Update {{ isAutoUpdateOn ? 'On' : 'Off' }}</span>
      </div>

      <div class="grid mt-2">
        @for (token of tokens; track token.mint) {
          <div class="col-12 lg:col-6">
            <div class="w-full flex align-items-center border-round border-2 border-50 p-3">
              <!-- Image -->
              <img [src]="token.imageUrl" class="border-round" style="width: 55px; height: 55px;">

              <div class="flex-grow-1 flex flex-column gap-1 ml-3">
                <!-- Info -->
                <div class="flex align-items-center justify-content-between">
                  <span class="font-semibold text-lg w-7 overflow-break-word">{{ token.name }}</span>
                  <app-text-link [link]="token.tokenUrl" [showRedirectIcon]="true">${{ token.symbol }}</app-text-link>
                </div>
                
                <div class="flex align-items-center justify-content-between">
                  <div class="flex items-center">
                    <span class="text-color-secondary">Market Cap:</span>
                    <span class="font-semibold text-primary text-lg ml-1" title="Market Cap">${{ formatMarketCap(token.marketCap) }}</span>
                  </div>
                  <div class="flex flex-row items-center gap-2">
                    @if (token.socials.website) {
                      <app-text-link [link]="token.socials.website">
                        <span style="font-size: 1.3rem;" class="material-symbols-outlined">language</span>
                      </app-text-link>
                    }
                    @if (token.socials.twitter) {
                      <app-text-link [link]="token.socials.twitter">
                        <div>
                          <i class="bi bi-twitter"></i>
                        </div>
                      </app-text-link>
                    }
                    @if (token.socials.telegram) {
                      <app-text-link [link]="token.socials.telegram">
                        <i class="bi bi-telegram"></i>
                      </app-text-link>
                    }
                  </div>
                </div>
                
                <!-- Create button -->
                <button class="w-full mt-1" pButton severity="secondary" (click)="createToken(token)">
                  <span class="material-symbols-outlined">add_circle</span>
                  <span class="font-medium">Create ${{ token.symbol }}</span>
                </button>
              </div>
            </div>
          </div>
        } @empty {
          <p class="text-center mx-auto" aria-hidden="true"> Trending coins not detected yet. </p>
        }
      </div>
    </p-card>
  </div>
</div>

<p-toast />

@if(selectedToken){
  <app-token-confirmation-popup
  [(visible)]="confirmationWindowOpened"
  [imageUrl]="selectedToken.imageUrl"
  [network]="networkService.selectedNetwork.name"
  
  [name]="selectedToken.name"
  [symbol]="selectedToken.symbol"
  [supply]="selectedTokenSupply()"
  [decimals]="selectedToken.decimals"
  
  [loading]="tokenLaunchLoading"
  (onClick)="launchToken()"
  />
  
  <app-token-created-popup
  [(visible)]="createdWindowOpened"
  [address]="createdMintKeypair?.publicKey?.toBase58() || ''"
  />
}